<!-- <header id="header-new" style="margin-top: 0px;">
  <div class="header-container-newui">
    <div id="header-main-container">
      <div style="margin-top:10px; margin-left:20px">Accenture Strategy</div>
      <div id="user-newui"></div>
    </div>

  </div>
</header> -->
<div class="toolbar" role="banner">
  <img
    width="130"
    alt="Accenture"
    src="https://cdn.jsdelivr.net/gh/flirtwithcode/sentiment-dashboard@main/app/assets/images/logo.png"
  />
  <span class="fsize" style="margin: 14px 10px 10px -10px;"> | </span>
  <span class="fsize" style="margin: 5px 0px 0px 0px;">
    Enterprise Navigator
  </span>
</div>
